/* VARIABLES DE COULEURS */
:root {
  --pink-black: #110C0C;
  --dark-pink: #B06766;
  --brown: #675050;
  --light-grey: #C8C8C8;
  background: linear-gradient(298.86deg, rgba(226, 157, 156, 0.75) -1.85%, rgba(0, 0, 0, 0.75) 65.64%);
}

body {
  overflow: hidden;
}

/* FONTS */

.title {
  display: inline-block;
  padding-top: 15%;
  padding-left: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 4%;
  color: white;
}

.subtitle {
  display: block;
  padding-top: 12%;
  padding-left: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 4%;
  color: var(--dark-pink);
}

.paragraph {
  display: inline-block;
  margin-top: 33%;
  margin-left: 17.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 140%;
  color: white;
}

.keyfigures1 {
  display: block;
  max-width: 1200px;
  margin-top: 10%;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 75%;
  /* letter-spacing: 10%; */
  text-align: center;
  color: white;
}

.keyfigures1-- {
  display: block;
  max-width: 1200px;
  /* margin-top: 0%; */
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
  /* letter-spacing: 10%; */
  text-align: center;
  color: white;
}

.keyfigures2 {
  display: block;
  max-width: 800px;
  margin-top: 22%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12rem;
  text-align: center;
  color: white;
}

.keyfigures3 {
  display: block;
  max-width: 800px;
  margin-top: 38%;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

hr {
  display: inline-block;
  width: 90px;
  height: 12px;
  background-color: white;
}

/* 
ICONS
*/
.social__icon {
  width: 17px;
  margin: 0 10px;

}

/*
STYLE GÉNÉRAL
*/
.container {

}

.container--page1 {
  width: 1000vw;
  height: 93.4vh;
  display: flex;
  flex-direction: row;
}

.container--page2 {
  background-color: yellow;
}

.header,
.footer {
  width: 100vw;
  height: 50px;
  background-color: var(--pink-black);
  z-index: 1000;
}

/* 
FOOTER DE NAVIGATION
*/
.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row-reverse; */
  height: 50px;
}

.footer__grp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row-reverse; */
  height: 50px;
}

.footer__item {
  display: inline-block;
  padding: 0 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 140%;
  color: var(--brown);
  cursor: pointer;
}

.footer__item a {
  color: var(--brown)
}

.footer__item a:hover {
  color: var(--dark-pink)
}

.nav__footer {
  position: fixed;
  bottom: 0;
  /* z-index: 100; */
}

/* 
TIMELINE
*/

.header {
  position: fixed;
  top:0;
  width: 100vw;
  height: 50px;
  background-color: var(--pink-black);
}

.step__text--default {
  position: absolute;
  color: var(--light-grey);
  font-family: "Oswald", sans-serif;
  font-size: 0.62rem;
  letter-spacing: 1px;
}

.step__text--default > p {
  width: max-content;
  text-transform: uppercase;
}

.step__texts--mb {
  margin-bottom: 8%;
  line-height: 140%;
  color: var(--dark-pink);
}

.steps__bar {
  display: flex;
  flex-direction: row;
}

.step__5bars {
  width: 20%;
  height: 80%;
}

.step__2bars {
  width: 50%;
  height: 80%;
}

.step__1bar {
  width: 100%;
  height: 80%;
}

.step__3bars {
  width: 33.3333333333%;
  height: 80%;
}

.step__0bars {
  width: 0;
  height: 0;
}

.two {
  transform: translateX(153%);
}

.two > .step__texts--years {
  transform: translateX(3%);
}

.three {
  transform: translateX(249%);
}

.three > .step__texts--years {
  transform: translateX(20%);
}

.four {
  transform: translateX(447%);
}

.four > .step__texts--years {
  transform: translateX(17%);
}

.five {
  transform: translateX(852%);
}

.five > .step__texts--years {
  transform: translateX(-5%);
}

/* .five > .step__texts--mb {
  margin-top: 10%;
} */

.six {
  transform: translateX(720%);
  text-align: center;
}

/* .six > p {
  width: max-content;
} */

.six > .step__texts--years {
  transform: translateX(72%);
}

.seven {
  transform: translateX(1178%);
  text-align: end;
}

.seven > .step__texts--years {
  transform: translateX(43%);
}

.steps {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.step {
  width: 16%;
  height: 3px;
  background-color: var(--light-grey);
  margin-right: 2px;
}

.completed {
  border: 2px solid var(--dark-pink);
}

.none {
  background-color: #C8C8C8;
}
.inactive {
  opacity: 0
}

button {
  display: none;
}

/* 
HERO 
*/
.hero {
  position: relative;
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.hero__title {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}


/* 
SOUS-PARTIES 
*/
.subpart {
  width: 100vw;
}

.subpart13,
.subpart12,
.subpart11,
.subpart10,
.subpart9,
.subpart8,
.subpart7,
.subpart6,
.subpart5,
.subpart4,
.subpart3,
.subpart2,
.subpart1 {
  position: relative;
  height: 100vh;
  background: linear-gradient(298.86deg, rgba(226, 157, 156, 0.75) -1.85%, rgba(0, 0, 0, 0.75) 65.64%);
  background-image: url(../assets/media/BG_noise.jpg);
}

.subpart9__main,
.subpart5__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subpart11__title,
.subpart10__title,
.subpart8__title,
.subpart6__title,
.subpart4__title,
.subpart2__title,
.subpart1__title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 1400px;
  margin: 0px auto;
}

.subpart8__title {
  padding-top: 10%;
}

.subpart10__title {
  padding-top: 18%;
  margin-left: 420px;
}


.subpart10__number,
.subpart1__number {
  position: absolute;
  top: 9.5%;
  right: 10.5%;
  font-size: 14rem;
  color: var(--dark-pink);
}

.subpart10__number {
  top: 1%;
  right: 61%;
}


.subpart10__scroll,
.subpart9__next,
.subpart1__scroll {
  position: absolute;
  top: 50%;
  right: 12%;
  z-index: 2;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.subpart1__scroll {
  color: var(--dark-pink);
}

.subpart9__next--discover {
  position: absolute;
  top: 47%;
  right: 16.5%;
  z-index: 2;
  font-size: 1rem;
  color: var(--dark-pink);
}

.subpart9__next--number {
  position: absolute;
  top: 50%;
  right: -15%;
  font-size: 5rem;
  color: var(--dark-pink);
  /* filter: blur(3px); */
  z-index: -1;
}

.subpart11__subtitle,
.subpart8__subtitle,
.subpart6__subtitle,
.subpart4__subtitle,
.subpart2__subtitle {
  position: absolute;
  top: 0;
  left: 0;
}

.subpart8__subtitle {
  padding-top: 8%;
}

.subpart5__keyfigures3,
.subpart5__keyfigures2,
.subpart5__keyfigures1 {
  position: absolute;
  top: 0;
}

.subpart11__paragraph,
.subpart8__paragraph,
.subpart6__paragraph,
.subpart4__paragraph,
.subpart2__paragraph {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
}

.subpart9__paragraph,
.subpart8__paragraph,
.subpart6__paragraph {
  max-width: 510px;
}

.subpart8__paragraph {
  margin-top: 28%;
}

.subpart9__paragraph {
  display: block;
  position: absolute;
  top: 45%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

strong {
  font-weight: bolder;
}

/* 
IMAGES
*/

.subpart2__image {
  position: absolute;
  max-width: 80%;
  right: 0;
  bottom: 0;
}

.subpart8__image {
  position: absolute;
  max-width: 430px;
  bottom: 0;
  z-index: 1001;
}

.subpart8__image--2 {
  position: absolute;
  max-width: 750px;
  top: 0;
  right: 0;
}

.subpart11__image {
  position: absolute;
  max-width: 750px;
  bottom: 30px;
  right: -80px;
}

/* 
VIDEOS
*/

.BG_video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  /* z-index: -100; */
  object-fit: cover;
}

.BG_video--circle {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(23.0% at 72% 50%);
  transition: clip-path 2s;
}

.BG_video--circle:hover {
  clip-path: circle(30.0% at 72% 50%);
}

.BG_video--triangle {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: clip-path 2s;
  clip-path: polygon(74% 90%, 49% 0, 100% 0);
}

.BG_video--triangle:hover {
  clip-path: polygon(74% 80%, 49% 0, 100% 0);
}

/* 
TOOLTIPS
*/
.tooltipss {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 400px;
  height: 100px;
}

.tooltips--10,
.tooltips--9,
.tooltips--8,
.tooltips--7,
.tooltips--6,
.tooltips--5,
.tooltips--4,
.tooltips--3,
.tooltips--2,
.tooltips--1 {
  position: absolute;
  margin-top: 8%;
  /* bottom: 100px; 
  right: 800px; */
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(206, 195, 194, 0.98);
  border: 10px solid rgba(226, 157, 156, 0.1);
  /* filter: blur(10%); */
  transition: height 0.5s, width 0.5s, border-radius 0.3s, opacity 0.5s;
}

/* Tooltips open du bas */
.tooltips--2.is-open,
.tooltips--1.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: 50px;
  right: -100px;
}

.tooltips--4.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 1002;
  bottom: 50px;
  right: -400px;
}

.tooltips--5.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: 50px;
  right: 50px;
}

.tooltips--6.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: -350px;
  right: 50px;
}

/* Tooltips open du haut */
.tooltips--3.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  top: -80px;
  right: -100px;
}

/* Positionnement des tooltips */
.tooltipss__positionnement {
  position: absolute;
  bottom: 50px; 
  right: 550px;
}

.tooltipss__positionnement--2 {
  position: absolute;
  bottom: 50px; 
  right: 650px;
}

.tooltipss__positionnement--3 {
  position: absolute;
  bottom: 500px; 
  right: -200px;
}

.tooltipss__positionnement--4 {
  position: absolute;
  bottom: 80px; 
  left: -50px;
  z-index: 1002;
}

.tooltipss__positionnement--5 {
  position: absolute;
  bottom: 70px; 
  left: 1000px;
}

.tooltipss__positionnement--6 {
  position: absolute;
  bottom: 380px; 
  right: 200px;
}

.tooltips__content {
  position: relative;
  /* width: max-content; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .tooltips__content.is-open{
  opacity:1;
} */

.tooltips__name {
  display: block;
  /* position: absolute;
  bottom: 100px; 
  right: 800px; */
  max-width: 400px;
  text-align: center;
  /* padding-top: 12%;
  padding-left: 10%; */
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  /* letter-spacing: 4%; */
  color: var(--dark-pink);
  transition: color 0.5s;
}

.tooltips__name:hover {
  color: white;
}

.tooltips__title {
  max-width: 600px;
  margin: 10px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  color: var(--dark-pink);
}

.tooltips__text {
  max-width: 600px;
  margin: 5px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 140%;
  color: var(--brown);
}

.tooltips__image {
  max-width: 100%;
}

