body {
  background-color: blue;
}

a {
  color: red;
}


.container--page1 {
  background-color: yellow;
  height: 100vh;
}

.container--page2 {
  background-color: rgb(113, 187, 84);
  height: 100vh;
}
