/* VARIABLES DE COULEURS */
:root {
  --pink-black: #110C0C;
  --dark-pink: #B06766;
  --light-pink: #E3B9B9;
  --brown: #675050;
  --light-grey: #C8C8C8;
  background: linear-gradient(298.86deg, rgba(226, 157, 156, 0.75) -1.85%, rgba(0, 0, 0, 0.75) 65.64%);
}

body {
  overflow: hidden;
}

.none {
  background-color: #C8C8C8;
}
/* .inactive {
  opacity: 0
} */
.show {
  display: block;
}
.hide {
  display: none;
}

/* FONTS */

.title {
  display: inline-block;
  padding-top: 15%;
  padding-left: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 4%;
  color: white;
}

.subtitle {
  display: block;
  padding-top: 12%;
  padding-left: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 4%;
  color: var(--dark-pink);
}

.paragraph {
  display: inline-block;
  margin-top: 33%;
  margin-left: 17.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 140%;
  color: white;
}

.keyfigures1 {
  display: block;
  max-width: 1200px;
  margin-top: 10%;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 75%;
  /* letter-spacing: 10%; */
  text-align: center;
  color: white;
}

.keyfigures1-- {
  display: block;
  max-width: 1200px;
  /* margin-top: 0%; */
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
  /* letter-spacing: 10%; */
  text-align: center;
  color: white;
}

.keyfigures2 {
  display: block;
  max-width: 800px;
  margin-top: 22%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12rem;
  text-align: center;
  color: white;
}

.keyfigures3 {
  display: block;
  max-width: 800px;
  margin-top: 38%;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

hr {
  display: inline-block;
  width: 90px;
  height: 12px;
  background-color: white;
}

/* 
ANIMATIONS
*/

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.container__animation{
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  z-index: 999;
}

.container___animation--sub{
  background-color: transparent;
  text-align: center;
  overflow: hidden;
  height: 300px;
  width: 800px;
  z-index: 999;
  /* border: solid 2px red; */
}
.text__up{
  margin-bottom: 50px;
  animation: slide 8s linear 2s infinite alternate;
  z-index: 999;
}

.text__up--1 {
  max-width: 800px;
  margin-top: 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12rem;
  text-align: center;
  color: white;
  animation: slide 8s linear 2s infinite alternate;
}

.text__up--2 {
  max-width: 800px;
  margin-top: 5%;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  animation: slide 8s linear 2s infinite alternate;
}

.text__up--3 {
  max-width: 800px;
  margin-top: 0%;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  animation: slide 8s linear 2s infinite alternate;
  
}

.text__up--4 {
  max-width: 800px;
  margin-top: 0%;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  animation: slide 8s linear 2s infinite alternate;
}


.text__up--5 {
  max-width: 800px;
  margin-top: 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 8rem;
  text-align: center;
  color: white;
  animation: slide 8s linear 2s infinite alternate;
}

@keyframes slide {
  0% {
    transform: translateY(0px);
  }
  28.5% {
    transform: translateY(0px);
  }
  35.5%{
    transform: translateY(-320px);
  }
  64%{
    transform: translateY(-320px);
  }
  71%{
    transform: translateY(-600px);
  }
  100%{
    transform: translateY(-600px);
  }
}

/* 
ICONS
*/
.social__icon {
  width: 17px;
  margin: 0 10px;
  fill: var(--dark-pink);
}

.social__icon:hover {
  fill: var(--light-pink);
}

#icon__facebook:hover {
  fill: var(--light-pink);
}

#icon__twitter:hover {
  fill: var(--light-pink);
}

/*
STYLE GÉNÉRAL
*/

.container--page1 {
  width: 1000vw;
  height: 93.4vh;
  display: flex;
  flex-direction: row;
}

.container--page2 {
  width: 300vw;
  height: 93.4vh;
  display: flex;
  flex-direction: row;}

.header,
.footer {
  width: 100vw;
  height: 50px;
  background-color: var(--pink-black);
  z-index: 1000;
}

/* 
FOOTER DE NAVIGATION
*/
.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: row-reverse; */
  height: 50px;
}

.footer__grp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row-reverse; */
  height: 50px;
}

.footer__item {
  display: inline-block;
  padding: 0 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 140%;
  color: var(--brown);
  cursor: pointer;
}

.footer__item a {
  color: var(--dark-pink);
}

.footer__item a:hover {
  color: var(--light-pink);
}

.nav__footer {
  position: fixed;
  bottom: 0;
  /* z-index: 100; */
}

/* 
TIMELINE
*/

.header {
  position: fixed;
  top:0;
  width: 100vw;
  height: 50px;
  background-color: var(--pink-black);
  cursor: pointer;
}

.step__text--default {
  position: absolute;
  color: var(--light-grey);
  font-family: "Oswald", sans-serif;
  font-size: 0.62rem;
  letter-spacing: 1px;
}

.step__text--default > p {
  width: max-content;
  text-transform: uppercase;
}

.step__texts--mb {
  margin-bottom: 8%;
  line-height: 140%;
  color: var(--dark-pink);
}

.steps__bar {
  display: flex;
  flex-direction: row;
}

.step__5bars {
  width: 20%;
  height: 80%;
}

.step__2bars {
  width: 50%;
  height: 80%;
}
.step__4bars {
  width: 25%;
  height: 80%;
}
.step__1bar {
  width: 100%;
  height: 80%;
}

.step__3bars {
  width: 33.3333333333%;
  height: 80%;
}

.step__0bars {
  width: 0;
  height: 0;
}

.two {
  transform: translateX(153%);
}

.two > .step__texts--years {
  transform: translateX(3%);
}

.three {
  transform: translateX(249%);
}

.three > .step__texts--years {
  transform: translateX(20%);
}

.four {
  transform: translateX(447%);
}

.four > .step__texts--years {
  transform: translateX(17%);
}

.five {
  transform: translateX(852%);
}

.five > .step__texts--years {
  transform: translateX(-5%);
}

/* .five > .step__texts--mb {
  margin-top: 10%;
} */

.six {
  transform: translateX(720%);
  text-align: center;
}

/* .six > p {
  width: max-content;
} */

.six > .step__texts--years {
  transform: translateX(72%);
}

.seven {
  transform: translateX(1178%);
  text-align: end;
}

.seven > .step__texts--years {
  transform: translateX(43%);
}

.steps {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.step {
  width: 16%;
  height: 3px;
  margin-right: 2px;
}

.completed {
  background: var(--dark-pink);
}

.inactive {
  opacity: 0
}

/* 
TIMELINE 2
*/

.completedNew {
  background: var(--dark-pink);
}

/* 
HERO 
*/
.hero {
  position: relative;
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.hero__title {
  position: absolute;
  padding: inherit;
  bottom: 50px;
  left: 50px;
  /* z-index: 10; */
  max-width: 800px;
  font-size: 2.5rem;
  line-height: 80%;
}

.hero__title hr {
  width: 300px;
  transition: width 0.8s;
}

.hero__title hr:hover {
  width: 550px;
}

.hero__skips {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: absolute;
  padding: inherit;
  bottom: 150px;
  left: 50px;
  width: 250px;
}

.hero__skip {
  padding: inherit;
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 80%;
  color: white;
}

.hero__skip:hover {
  color: var(--dark-pink);
}

.icon__skip {
  width: 18px;
  height: 18px;
  margin-left: 20px;
  color: white;
  fill: transparent;
  animation: fadeInLeft 1s both ease-out infinite;
}




/* 
SOUS-PARTIES 
*/
.subpart {
  width: 100vw;
}

.subpart13,
.subpart12,
.subpart11,
.subpart10,
.subpart9,
.subpart8,
.subpart7,
.subpart6,
.subpart5,
.subpart4,
.subpart3,
.subpart2,
.subpart1 {
  position: relative;
  height: 100vh;
  background: linear-gradient(298.86deg, rgba(226, 157, 156, 0.75) -1.85%, rgba(0, 0, 0, 0.75) 65.64%);
  background-image: url(../assets/media/BG_noise.jpg);
}

.subpart9__main,
.subpart5__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subpart11__title,
.subpart10__title,
.subpart8__title,
.subpart6__title,
.subpart4__title,
.subpart2__title,
.subpart1__title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 1400px;
  margin: 0px auto;
}

.subpart8__title {
  padding-top: 10%;
}

.subpart10__title {
  padding-top: 18%;
  margin-left: 420px;
}


.subpart10__number,
.subpart1__number {
  position: absolute;
  top: 9.5%;
  right: 10.5%;
  font-size: 14rem;
  color: var(--dark-pink);
}

.subpart10__number {
  top: 1%;
  right: 61%;
}


.subpart10__scroll,
.subpart9__next,
.subpart1__scroll {
  position: absolute;
  top: 50%;
  right: 12%;
  z-index: 2;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: text-decoration 0.5s;
}

.subpart1__scroll {
  color: var(--dark-pink);
}

.subpart9__next--discover {
  position: absolute;
  top: 47%;
  right: 18.4%;
  z-index: 2;
  font-size: 1rem;
  color: var(--dark-pink);
}

.subpart9__next--number {
  position: absolute;
  top: 47%;
  right: -15%;
  font-size: 5rem;
  color: var(--dark-pink);
  /* filter: blur(3px); */
  z-index: -1;
}

.subpart11__subtitle,
.subpart8__subtitle,
.subpart6__subtitle,
.subpart4__subtitle,
.subpart2__subtitle {
  position: absolute;
  top: 0;
  left: 0;
}

.subpart8__subtitle {
  padding-top: 8%;
}

.subpart5__keyfigures3,
.subpart5__keyfigures2,
.subpart5__keyfigures1 {
  position: absolute;
  top: 0;
}

.subpart11__paragraph,
.subpart8__paragraph,
.subpart6__paragraph,
.subpart4__paragraph,
.subpart2__paragraph {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
}

.subpart9__paragraph,
.subpart8__paragraph,
.subpart6__paragraph {
  max-width: 510px;
}

.subpart8__paragraph {
  margin-top: 28%;
}

.subpart9__paragraph {
  display: block;
  position: absolute;
  top: 45%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

strong {
  font-weight: bolder;
}

/* 
IMAGES
*/

.subpart2__image {
  position: absolute;
  max-width: 80%;
  right: 0;
  bottom: 0;
}

.subpart8__image {
  position: absolute;
  max-width: 430px;
  bottom: 0;
  z-index: 1001;
}

.subpart8__image--2 {
  position: absolute;
  max-width: 750px;
  top: 0;
  right: 0;
}

.subpart11__image {
  position: absolute;
  max-width: 750px;
  bottom: 30px;
  right: -80px;
}

/* 
VIDEOS
*/

.BG_video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  /* z-index: -100; */
  object-fit: cover;
}

.subpart12 .BG_video {
  height: 40%;
  object-fit: none;

}

.BG_video--circle {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(23.0% at 72% 50%);
  transition: clip-path 2s;
}

.BG_video--circle:hover {
  clip-path: circle(30.0% at 72% 50%);
}

.BG_video--triangle {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: clip-path 2s;
  clip-path: polygon(74% 90%, 49% 0, 100% 0);
}

.BG_video--triangle:hover {
  clip-path: polygon(74% 80%, 49% 0, 100% 0);
}

/* 
TOOLTIPS
*/
.tooltipss {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 400px;
  height: 100px;
}

.tooltips--Blob,
.tooltips--10,
.tooltips--9,
.tooltips--8,
.tooltips--7,
.tooltips--6,
.tooltips--5,
.tooltips--4,
.tooltips--3,
.tooltips--2,
.tooltips--1 {
  position: absolute;
  margin-top: 8%;
  /* bottom: 100px; 
  right: 800px; */
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(206, 195, 194, 0.98);
  border: 10px solid rgba(226, 157, 156, 0.1);
  /* transform: scale(0%);
  transition: transform 0.5s; */
  transition: height 0.5s, width 0.5s, border-radius 0.3s, opacity 0.5s;
}

/* Tooltips open du bas */
.tooltips--2.is-open,
.tooltips--1.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: 50px;
  right: -100px;
  transform: scale(100%);
}

.tooltips--4.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 1002;
  bottom: 50px;
  right: -400px;
}

.tooltips--5.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: 50px;
  right: 50px;
}

.tooltips--6.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: -350px;
  right: 50px;
}

.tooltips--8.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: 0px;
  right: 50px;
}

.tooltips--9.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: 0px;
  left: 100px;
}

.tooltips--Blob.is-open {
  position: absolute;
  height: 420px;
  width: 600px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 3000;
  bottom: 0px;
  left: 100px;
}

.tooltips--Blob.is-open .tooltips__text{
  padding: 5px 20px;
}

/* Tooltips open du haut */
.tooltips--3.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  top: -80px;
  right: -100px;
}

.tooltips--7.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: -350px;
  right: 50px;
}

.tooltips--10.is-open {
  height: 500px;
  width: 700px;
  border-radius: 1%;
  border: 5px solid rgba(226, 157, 156, 0.1);
  opacity: 1;
  z-index: 100;
  bottom: -350px;
  right: 150px;
}

/* Positionnement des tooltips */
.tooltipss__positionnement {
  position: absolute;
  bottom: 50px; 
  right: 550px;
}

.tooltipss__positionnement--2 {
  position: absolute;
  bottom: 50px; 
  right: 650px;
}

.tooltipss__positionnement--3 {
  position: absolute;
  bottom: 500px; 
  right: -200px;
}

.tooltipss__positionnement--4 {
  position: absolute;
  bottom: 80px; 
  left: -50px;
  z-index: 1002;
}

.tooltipss__positionnement--5 {
  position: absolute;
  bottom: 70px; 
  left: 1000px;
}

.tooltipss__positionnement--6 {
  position: absolute;
  bottom: 380px; 
  right: 200px;
}

.tooltipss__positionnement--7 {
  position: absolute;
  bottom: 480px; 
  right: 400px;
}

.tooltipss__positionnement--8 {
  position: absolute;
  bottom: -380px; 
  right: 120px;
}

.tooltipss__positionnement--9 {
  position: absolute;
  bottom: 80px; 
  left: -600px;
}

.tooltipss__positionnement--10 {
  position: absolute;
  top: -380px; 
  right: -1200px;
}

.tooltipss__positionnement--Blob {
  position: absolute;
  bottom: 80px; 
  left: -50px;
}

.tooltips__content {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tooltips__content video {
  width: 95%;
}

/* .tooltips__content.is-open{
  opacity:1;
} */

.tooltips__name {
  display: block;
  /* position: absolute;
  bottom: 100px; 
  right: 800px; */
  max-width: 400px;
  text-align: center;
  /* padding-top: 12%;
  padding-left: 10%; */
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  /* letter-spacing: 4%; */
  color: var(--dark-pink);
  transition: color 0.5s;
}

.tooltips__name:hover {
  color: white;
}

.tooltips__title {
  max-width: 600px;
  margin: 10px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  color: var(--dark-pink);
}

.tooltips__text {
  max-width: 600px;
  margin: 5px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 140%;
  color: var(--brown);
}

.tooltips__image {
  max-width: 100%;
}

 /* 
 ABOUT
 */

 .about__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.about__wrapper--intro,
.about__wrapper--people,
.about__wrapper--disclamer {
  position: absolute;
}

.about__wrapper--intro {
  width: 400px;
  height: 400px;
  left: 10%;
  top: 34%;
  transform: translateY(-50%);
  padding-top: 40px;
  padding-left: 40px;
}

.about__wrapper--intro strong,
.about__wrapper--intro h1,
.about__wrapper--intro p {
  margin: 5px;
  padding: 2px
}

.about__wrapper--people {
  width: 600px;
  height: 400px;
  left: 50%;
  top: 34%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__wrapper--people .about__container {
  width: 120px;
  height: 170px;
  margin: 30px 40px;
}

.about__wrapper--people .about__container img {
  width: 100%;
  transition: width 0.5s;
}

.about__container img:hover {
  width: 110%;
}

.about__wrapper--people .about__container p {
  width: 100%;
  color: #B06766;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}

.about__wrapper--disclamer {
  width: 100%;
  height: 150px;
  left: 0;
  bottom: 80px;
  display: flex;
  justify-content: center;
}

.about__wrapper--disclamer .bordered-text {
  border: 1px #ffffff solid;
  padding: 15px;
  text-align: center;
  display: inline-block;
}

.about__wrapper--disclamer h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
}

.about__wrapper--disclamer p {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 20px;
}

/*
LOGIN 
*/

.box__login {

  /* position: absolute;
  bottom: 0; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  width: 40em;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 2px red; */
  /* background: rgba(0, 0, 0, 1); */

  background: linear-gradient(298.86deg, rgba(226, 157, 156, 1) -250.85%, rgba(0, 0, 0, 0.92) 65.64%);
}

.box__login--sub {
  /* border: solid 2px white; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35em;
  padding: 5em;
}

.title__login {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: var(--dark-pink);
  margin-bottom: 3em;
}

.label__login {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.input__login {
  margin-bottom: 3em;
  
}

.input__login--btn {
  
  background-color: transparent;
  color: var(--dark-pink);
  border: solid 1px var(--dark-pink);
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  border-radius: 30px;
  padding: 10px;
  width: 150px;
}

.input__login--btn:active {
  
  background-color: var(--dark-pink);
  color: white;
  border: solid 1px var(--dark-pink);
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  border-radius: 30px;
  padding: 10px;
  width: 150px;
}

.form__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
INFOS NAVIGATION
*/

.adblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: var(--pink-black);
  z-index: 2000;
}

.adblock__title {
  padding: 50px 0px;
  font-size: 5rem;
  color: var(--dark-pink);
}

.adblock__text {
  max-width: 600px;
  margin: inherit;
  padding: 5px 0px;
  text-align: justify;
}

.disable__adblock {
  display: block;
  width: 250px;
  height: 50px;
  margin-top: 50px;
  padding: inherit;
  background-color: var(--pink-black);
  color: var(--dark-pink);
  border: 1px solid var(--dark-pink);
}

.disable__adblock:hover {
  color: white;
}

.adblock__icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.scrollNow {
  display: block;
  width: 350px;
  height: 50px;
  margin-top: 50px;
  padding: inherit;
  background-color: var(--pink-black);
  color: var(--light-pink);
  font-size: 16px;
  margin-top: 75px;
  text-align: center;
}

.scrollNow:hover {
  color: white;
}

.middle {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  /* position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%, -50%); */
}

.icon__arrow {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  fill: var(--dark-pink);
}

.mouse {
  position: relative;
  width: 40px;
  height: 60px;
  margin: 0 15px;

  border: 3px solid  var(--dark-pink);
  border-radius: 60px;
}

.mouse::before {
  content:"";
  width: 7px;
  height: 7px;
  position: absolute;
  top:30%;
  background: var(--dark-pink);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 45px;
  }
}

/* BUTTONS */

.buttons {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.pauseBtn {
  width: 50px;
  height: 50px;
  transform: scale(0.6)
}

.muteBtn {
  width: 50px;
  height: 50px;
  transform: scale(0.6)
}

.play {
  background-image:  url('../assets/media/icons/play.png');
}

.pause {
  background-image:  url('../assets/media/icons/pause.png');
}

.muteOn {
  background-image:  url('../assets/media/icons/muteOn.png');
}

.muteOff {
  background-image:  url('../assets/media/icons/muteOff.png');
}

